body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #ecf0f1;
  color: #3498db;
  height: 90px;
}

.header-logo {
  float: right;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 80px 60px;
}

.copy-container h1 {
  font-size: 120px;
}

.copy-container h2 {
  font-size: 40px;
}

.copy-container span {
  color: #34495e;
}

.contents {
  height: 240px;
  margin-top: 80px;
}

.section-title {
  border-bottom: 2px solid #34495e;
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.contents-item {
  float: left;
  margin-right: 30px;
}

.contents-item p {
  font-size: 20px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 80px;
}

input, textarea {
  width: 360px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #e74c3c;
}

.contact-submit {
  background-color: #34495e;
  color: #889eab;
}

.footer {
  background-color: #bdc3c7;
  color: #fff;
  height: 100px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 28px;
}
